@page {
    size: 4.18in 6.88in;
    margin: 0.25in;
    border: thin solid black;
    padding: 1em;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
    @top-right {
        content: url("https://upload.wikimedia.org/wikipedia/en/thumb/d/d3/Starbucks_Corporation_Logo_2011.svg/800px-Starbucks_Corporation_Logo_2011.svg.png")
    }
}

#header {
    font: bold serif;
    position: absolute; top: 0; left: 0;
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
